extends ./index.jade

block header_content
  script(src='https://cdn.optimizely.com/js/2774940642.js')

block content
  script.
    (function(r,t,n,i){var a=n||50;var e=i||9999;var o=function(){return t.optimizely};var f=function(){return o().data};var v=function(r){return f().experiments[r]};var u=function(){return o().activeExperiments};var c=function(r){return o().variationIdsMap[r]};var l=function(r){return v(r).section_ids};var s=function(r,t,n){if(typeof r!=="string"||typeof t!=="string"||typeof n!=="string"||n.length<1)return;if(/\?.+$/.test(r)){return r+"&"+t+"="+n}return"?"+t+"="+n};var d=function(r,t,n){var i=n.indexOf(t);if(i>=0){if(r){r+="_"+i}else{r=""+i}}return r};var h=function(){var n;var i;var a;var e;var o;var h;var p;var y;var g;try{for(i=0;i<u().length;i++){n=u()[i];o=undefined;for(a=0;a<c(n).length;a++){g=c(n)[a];if(l(n).length){for(e=0;e<l(n).length;e++){o=d(o,g,f().sections[l(n)[e]].variation_ids)}}else{o=d(o,g,v(n).variation_ids)}}h=s(t.location.search,"optimizely_x"+n,o);if(h){p=h}}}catch(m){}finally{y=t.location.protocol+"//"+t.location.host+t.location.pathname+p+t.location.hash;if(y===t.location.href)y=undefined;t.ud("create",r,{overrideUrl:y});t.ud("analyze")}};var p=0;var y=false;var g=function(){try{if(f().state&&!y){h();y=true;return}}catch(r){}finally{if(p<e&&!y){setTimeout(g,a)}p++}};g()})(
      "10-732",window
    );
